<div class="flow main__container">
  <app-navigation (messageBus)="scrollToAnchor($event)"></app-navigation>
  <!-- <app-profile-card [animationToggle]="doAnimation"></app-profile-card> -->
  <div class="wrapper" id="home">
    <!-- <div class="content" (scroll)="onScroll($event)"> -->
    <header class="bio-card">
      <h1>I'm Anthony Marques</h1>
      <p>
        I am a self-taught FrontEnd developer. I do love people and helping
        others to make robust web applications.
      </p>
    </header>
    <div id="tech-stack">
      <section>
        <app-tech-stack></app-tech-stack>
      </section>
    </div>
    <section id="resume">
      <app-resume></app-resume>
    </section>
    <section id="work">
      <app-work></app-work>
    </section>
    <app-footer></app-footer>
  </div>
</div>
