
// Fonts
$font-family-base: 'Arial', sans-serif;
$font-size-base: 16px;

// Colors
$primary-color: #f2f5f7;  // Update with your primary color
$secondary-color: #ced0d7;  // Update with your secondary color
$accent-color: #e74c3c;  // Update with your accent color

*,
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}

html {
    // defines what 1rem is 
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}
body {
    margin:0;
    background-color: #24272e;
    font-size: clamp(1.125rem,2vw,1.125rem);
}
*{
    margin:0;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
  }

  p {
    line-height: 1.5;
    color:$secondary-color;
  }

// SCROLLBAR STYLES
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--dark-blue) var(--custom-white);
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #fff ;
    border-radius: 3.5rem;
    border: 3px solid var(--custom-white);
}

li {
    animation: fade 3s ease linear;
}

@keyframes faade {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0%{
        opacity: 1;
    }
    // 20%{
    //     opacity: 1;
    // }
    // 50%{
    //     opacity: 1;
    // }
    // 100%{
    //     opacity: 1;
    // }
}