@keyframes profileCardShrink {
  from {
    background-color: azure;
    height: 40rem;
    width: 400px;
  }

  to {
    height: 18rem;
    width: 20rem;
    background-color: rgb(105, 210, 223);
  }
}

@keyframes profileImgShrink {
  from {
    width: 370px;
    padding-left: 2rem;
  }

  to {
    width: 16rem;
    padding-left: 2rem;
  }
}

@keyframes profileSocials {
  from {
    flex-direction: row;
    top: 14rem;
    left: 8rem;
  }

  to {
    flex-direction: column;
    top: 7rem;
    left: 7rem;
  }
}

.main__container {
  display: flex;
  flex-direction: column;

  &__profile__container {
    padding-top: 3rem;
  }

  &__profile__card {
    flex-direction: column;
    margin-top: 10rem;

    &__profile_image {
      background-color: azure;
      border-radius: 10rem;
      height: 40rem;
      width: 40rem;
      position: relative;

      &>img {
        position: absolute;
        width: 370px;
        padding-left: 2rem;
      }
    }

    &__socials {
      & ul.socials {
        position: relative;
        display: flex;
        top: 14rem;
        left: 8rem;
        list-style: none;

        & li {
          padding-right: 5rem;

          & .fa-brands {
            scale: 6;
            color: #fff;
          }
        }
      }
    }
  }
}




.wrapper {
  height: 100vh;
  overflow: auto;
}

#tech-stack{
  padding-top: 5rem;
}

.bio-card {
  min-height: 49rem;
  word-wrap: break-word;
  color: aliceblue;
  width: auto;
  margin: 5rem;
  margin-left: 16rem;
  margin-top: 25rem;
  font-size: 3rem;
}

@media(max-width: 644px) {

  /* Your CSS styles for tablet devices */
  .bio-card {
    margin: 2rem;
    margin-top: 5rem;
    padding-top: 10rem;
    height: 30rem;
  }

  .content {
    padding: 1rem;
    overflow: auto;
  }
}



@media only screen and (min-width: 768px) and (max-width: 1050px) {

  /* Your CSS styles for tablet devices */
  .main__container {

    font-size: xx-large;
  }

}

@media (max-width: 780px) {

  /* Your CSS styles for tablet devices */
  .main__container {
    font-size: x-large;
  }
}