@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideTopDown {
    from {
        background-position: 0 0;
    }

    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: 0 -10000px;
    }
}

.desktop-list {
    margin: 0px;
    margin-top: -18rem;
    display: grid;
    height: 100vh;
    place-items: center;
}

.techstack-header {
    text-align: center;
    font-size: xxx-large;
    color: whitesmoke;
    margin: auto 20%;
}

.tech-card-group,
.card {
    height: 47vh;
}

.card {
    background-color: rgba(212, 255, 0, 0.05);
    border-radius: 1vmin;
    transition: transform 800ms cubic-bezier(0.5, .43, .25, .95);
}

.tech-card {
    width: 30vmin;
    background-color: cornsilk;
}

.tech-card:nth-child(1) {
    background-color: rgb(255, 255, 255);
    background-image: url('../../assets/images/tailwind-css-logo-vector.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(111%, 40%) rotate(19deg)
}

.tech-card:nth-child(2) {
    background-color: rgb(179, 215, 81);
    background-image: url('../../assets/images/node_logo.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(60%, -66%) rotate(10deg);
}

.tech-card:nth-child(3) {
    background-color: rgb(247, 223, 30);
    transform: translate(10%, -166%) rotate(0deg);
    background-image: url('../../assets/images/icons/javascript-yellow-box-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.tech-card:nth-child(4) {
    background-color: rgb(1, 122, 203);
    background-image: url('../../assets/images/typscript_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(-39%, -261%) rotate(-7deg);
}

.tech-card:nth-child(5) {
    background-color: rgb(187, 19, 52);
    background-image: url('../../assets/images/angular_logo_card.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    transform: translate(-84%, -349%) rotate(-16deg);
}

// ON HOVER TECH CARDS SECTION
.tech-card-group:hover>.tech-card:nth-child(1) {
    transform: translate(205%, 34%) rotate(0deg)
}

.tech-card-group:hover>.tech-card:nth-child(2) {
    transform: translate(105%, -66%) rotate(0deg);
}

.tech-card-group:hover>.tech-card:nth-child(3) {
    transform: translate(10%, -166%) rotate(0deg);
}

.tech-card-group:hover>.tech-card:nth-child(4) {
    // background-color: rgb(75, 138, 255);
    transform: translate(-85%, -266%) rotate(0deg);
}

.tech-card-group:hover>.tech-card:nth-child(5) {
    transform: translate(-180%, -366%) rotate(0deg);
}


@media handheld,
screen and (max-width: 950px) {
    .desktop-list {
        margin-bottom: 15rem;
    }

    .tech-card-group,
    .card {
        height: 27vh;
    }

    // ON HOVER TECH CARDS SECTION
    .tech-card:nth-child(1) {
        transform: translate(-2%, 214%) rotate(0deg);
    }

    .tech-card:nth-child(2) {
        transform: translate(-55%, 4%) rotate(0deg);
    }

    .tech-card:nth-child(3) {
        transform: translate(56%, -96%) rotate(0deg);
    }

    .tech-card:nth-child(4) {
        // background-color: rgb(75, 138, 255);
        transform: translate(56%, -306%) rotate(0deg);
    }

    .tech-card:nth-child(5) {
        transform: translate(-55%, -405%) rotate(0deg);
    }

    .tech-card-group {
        pointer-events: none;
    }

}

@media handheld,
(max-width: 420px) {

    .techstack-header {
        padding-bottom: 5rem;
    }

    .desktop-list {
        margin-bottom: 4rem;
    }

    .tech-card-group,
    .card {
        height: 27vh;
    }

    // ON HOVER TECH CARDS SECTION
    .tech-card:nth-child(1) {
        transform: translate(0%, 244%) rotate(0deg);
        height: 10rem;
    }

    .tech-card:nth-child(2) {
        transform: translate(-34%, 8%) rotate(-11deg)
    }

    .tech-card:nth-child(3) {
        transform: translate(51%, -88%) rotate(11deg)
    }

    .tech-card:nth-child(4) {
        // background-color: rgb(75, 138, 255);
        transform: translate(57%, -304%) rotate(11deg)
    }

    .tech-card:nth-child(5) {
        transform: translate(-33%, -403%) rotate(-11deg);
    }

    .tech-card-group {
        pointer-events: none;
    }

}