@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideTopDown {
    from {
        background-position: 0 0;
    }

    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: 0 -10000px;
    }
}

.desktop-list {
    margin: 0px;
    margin-top: -18rem;
    display: grid;
    height: 100vh;
    place-items: center;
}

.techstack-header {
    text-align: center;
    font-size: xxx-large;
    color: whitesmoke;
    margin: auto 20%;
}

.tech-card-group,
.card {
    height: 47vh;
}

.card {
    background-color: rgba(212, 255, 0, 0.05);
    border-radius: 1vmin;
    transition: transform 800ms cubic-bezier(0.5, .43, .25, .95);
}

.tech-card {
    width: 30vmin;
    background-color: cornsilk;
}

.tech-card:nth-child(1) {
    background-color: red;
    transform: translate(111%, 40%) rotate(19deg)
}

.tech-card:nth-child(2) {
    background-color: green;
    transform: translate(60%, -66%) rotate(10deg);
}

.tech-card:nth-child(3) {
    background-color: yellow;
    transform: translate(10%, -166%) rotate(0deg);
}

.tech-card:nth-child(4) {
    background-color: rgb(75, 138, 255);
    transform: translate(-39%, -261%) rotate(-7deg);
}

.tech-card:nth-child(5) {
    background-color: blue;
    transform: translate(-84%, -349%) rotate(-16deg);
}

.tech-card:nth-child(6) {
    background-color: lightblue;
    transform: translate(30%, -166%) rotate(2deg)
}

// ON HOVER TECH CARDS SECTION
.tech-card-group:hover>.tech-card:nth-child(1) {
    background-color: red;
    transform: translate(205%, 34%) rotate(0deg)
}

.tech-card-group:hover>.tech-card:nth-child(2) {
    background-color: green;
    transform: translate(105%, -66%) rotate(0deg);
    // box-shadow: 10px 0 5px -2px #888;
}

.tech-card-group:hover>.tech-card:nth-child(4) {
    background-color: rgb(75, 138, 255);
    transform: translate(-85%, -266%) rotate(0deg);
    // box-shadow: 10px 0 5px -2px #888;
}

.tech-card-group:hover>.tech-card:nth-child(5) {
    background-color: blue;
    transform: translate(-180%, -366%) rotate(0deg);
    // box-shadow: 10px 0 5px -2px #96a7ff;
}

.tech-card-group:hover>.tech-card:nth-child(3) {
    background-color: yellow;
    transform: translate(10%, -166%) rotate(0deg);
}


// .tech-card:nth-child(2) {
//     background-color: green;
//     transform: translate(45%, -69%) rotate(11deg)
// }



// @media handheld,
// screen and (max-width: 400px) {
//     .project {
//         max-height: 150px;
//     }

//     .techstack-header {
//         font-size: large;
//         margin: auto 10%;
//     }

// }

// @media handheld,
// screen and (max-width: 950px) {
//     .container-techstack {
//         padding-top: 10rem;
//     }

//     .desktop-list {
//         margin: 0px;
//         display: grid;
//         height: 100vh;
//         place-items: center;
//     }

//     .project-list.mobile {
//         display: flex;
//     }

//     /* Mobile-specific styles here */
//     .project>img {
//         margin-right: 0rem;
//         max-height: 190px;
//     }

//     .image-adjustment>img {
//         max-height: 120px;
//         padding-top: 2rem;
//     }

//     .project.svg {
//         max-height: 120px;
//         padding-top: 2rem;
//         width: 150px;
//     }

//     .techstack-header {
//         text-align: center;
//         font-size: xx-large;
//         color: whitesmoke;
//         margin: auto 20%;
//     }

//     .project-list {
//         grid-gap: 0rem;
//     }
// }

// @media (min-width: 950px) and (max-width: 2400px) {
//     .project {
//         margin-right: 5rem;
//         max-height: 270px;
//     }

//     .project.svg {
//         max-height: 194px;
//         padding-top: 4rem;
//         height: 250px;
//         width: 250px;
//     }

//     .image-adjustment>img {
//         max-height: 236px;
//         padding-top: 3rem;
//     }

//     .container-techstack {
//         height: 100vw;
//         padding-top: 10rem;
//     }

//     .project>img {
//         max-height: 270px;
//     }

//     .project-list.mobile {
//         display: none;
//     }

//     .desktop-list {
//         display: grid;
//     }
// }



// .profile-background {
//     background-attachment: fixed;
//     height: 100vh;
//     background-repeat: repeat-y;
//     animation: slideTopDown 1800s infinite linear;
//     background-size: cover;
//     overflow: hidden;
//     background-image: url("../../assets/images/filip-zrnzevic-unsplash-min.jpg");

//     background-repeat: repeat-x;
//     animation: slideTopDown 1800s infinite linear;

// }

// .project-list {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: center;
//     grid-gap: 1em;
// }