@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideTopDown {
    from {
        background-position: 0 0;
    }

    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: 0 -10000px;
    }
}
@media handheld, screen and (max-width: 400px) {
.project {
    max-height: 150px;
}
}
@media handheld, screen and (max-width: 950px) {
    .desktop-list {
        display: none;
    }
    .project-list.mobile {
        display: flex;
    }
    /* Mobile-specific styles here */
    .project > img{
        margin-right: 0rem;
        max-height: 190px;
    }

    .image-adjustment>img {
        max-height: 120px;
        padding-top: 2rem;
    }

    .project.svg {
        max-height: 120px;
        padding-top: 2rem;
        width: 150px;
    }

    .techstack-header {
        text-align: center;
        font-size: xx-large;
        color: whitesmoke;
        margin: auto 20%;
    }

    .project-list {
        grid-gap: 0rem;
    }
  }

@media (min-width: 950px) and (max-width: 2400px) {
    .project {
        margin-right: 5rem;
        max-height: 270px;
    }
    
    .project.svg {
        max-height: 194px;
        padding-top: 4rem;
        height: 250px;
        width: 250px;
    }
    
    .image-adjustment>img {
        max-height: 236px;
        padding-top: 3rem;
    }
    
    .container-techstack {
        height: 100vw;
        padding-top: 10rem;
    }
    
    .project>img {
        max-height: 270px;
    }
    .project-list.mobile {
        display: none;
    }
    .desktop-list {
        display: block;
    }
}

.techstack-header {
    text-align: center;
    font-size: xxx-large;
    color: whitesmoke;
    margin: auto 20%;
}

.profile-background {
    background-attachment: fixed;
    height: 100vh;
    background-repeat: repeat-y;
    animation: slideTopDown 1800s infinite linear;
    background-size: cover;
    overflow: hidden;
    background-image: url("../../assets/images/filip-zrnzevic-unsplash-min.jpg");

    background-repeat: repeat-x;
    animation: slideTopDown 1800s infinite linear;

}

.project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-gap: 1em;
}