.project-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  grid-gap: 2em;
  padding-top: 10rem;
}

.project img {
  max-height: 280px;
  max-width: 400px;
}

.container {
  margin: auto 13%;
  align-items: center;
  color: whitesmoke;
}

.work-header {
  text-align: center;
  margin: auto 20%;
  font-size: xxx-large;
}

.experience {
  font-size: medium;
  padding: 3rem;
}



@media (max-width:420px) {
  .project-list {
    padding-top: 1rem;
  }

  .work-header {
    font-size: x-large;
  }

  .project.mobile>img {
    display: block;
  }

  .project.desktop>img {
    display: none;
  }
}

@media (min-width:450px) {
  .work-header {
    font-size: x-large;
  }

  .project.mobile>img {
    display: none;
  }

  .project.desktop>img {
    display: block;
  }

 

}