<div class="container">
    <div class="project-list">
        <h1 class="work-header">Side projects</h1>
        <div class="project"><img src="../../../../assets/images/gifs/rps-gif.gif" /></div>
        <div class="project"><img src="../../../../assets/images/gifs/teamFutBeta.gif" /></div>

        <div class="project">
            <img src="../../../assets/images/react-weatherapp.png" />
        </div>
    </div>
    <div class="experience mobile">
        <ul>
            <li>Building high-quality web applications and delivering features using Angular (Angular.js, Angular 4,
                Angular
                9, Angular 13), TypeScript, JavaScript, and Jest.</li>
            <li>Utilizing API swagger documents and working on multiple domains consistently for the past 2 years.</li>
            <li>Successfully building features, bug fixing, and creating spikes for investigating solutions with
                technical
                documentation.</li>
            <li>Experience in inherited codebases and maintaining multiple Angular projects.</li>
            <li>Adapted to remote work during lockdown, effectively communicating issues and providing relevant context
                for
                efficient debugging processes.</li>
            <li>Proficient in core tools and technologies such as Angular (Angular 13 with best practices), Angular.js,
                Angular 4, TypeScript, JavaScript unit testing, Jest, Bootstrap, and working with other UI libraries.
            </li>
            <li>Skilled in building reusable components for client's UI libraries.</li>
            <li>Familiarity with Azure DevOps, TFS, git-flow, feature building, code reviews, and remote work.</li>
            <li>Proficient in Agile methodologies, particularly Scrum, and building strong rapport with colleagues to
                ensure
                efficient teamwork.</li>
            <li>Committed to delivering results and achieving goals as a mid-level Frontend Engineer.</li>
        </ul>
</div>