<div class="container">
  <div class="project-list">
    <h1 class="work-header">Side projects</h1>
    <div class="project">
      <img src="../../../../assets/images/gifs/rps-gif.gif" />
    </div>
    <div class="project desktop">
      <img src="../../../../assets/images/gifs/teamFutBeta.gif" />
    </div>
    <div class="project mobile">
      <img src="../../../../assets/images/gifs/teamFootBe.gif" />
    </div>

    <div class="project">
      <img src="../../../assets/images/react-weatherapp.png" />
    </div>
  </div>
</div>
