<div class="wrapper">
  <header>
      <h1 class="title">Tony Marques</h1>
    <nav tabindex="0">
    <ul role="menuBar">
      <!-- <div class="navToggle">X</div> -->
      <li class="list-item" (click)="goDown('home')"><a>Home</a></li>
      <li class="list-item" (click)="goDown('tech-stack')"><a>Tech stack</a></li>
      <li class="list-item" (click)="goDown('resume')"><a>Resume</a></li>
      <li class="list-item" (click)="goDown('work')"><a>Work</a></li>
    </ul>
  </nav>
  <button class="close-mobile-menu">x</button>
</header>
</div>
