@media (max-width: 400px) {
  nav {
    display: none;
  }
  .navToggle {
    display: block;
    color: #fff;
    font-size: xx-large;
  }
}

header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
.title {
  display: flex;
  font-size: xx-large;
}

.close-mobile-menu {
  display: none;
  position: fixed;
  top: 0.5vh;
  right: 0%;
  transform: translateX(-50%);
  opacity: 0.1;
  color: #fff;
  background: none;
  border: none;
  font-size: 2em;
  z-index: 1000;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 6rem;
  top: 20px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  @media screen and (max-width: 1156px) {
    left: 92%;
    position: absolute;
    width: 40px;
    height: 25px;
    background-color: blueviolet;
    border-radius: 3px;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 70%;
      position: absolute;
      left: 15%;
      z-index: 10;

      background: #fff;

      transform: translateY(-50%);
    }

    &::before {
      transition: 0.3s ease-out;
      top: 30%;
    }

    &::after {
      transition: 0.3s ease-out;
      top: 70%;
    }

    &:focus,
    &:focus-within {
      &::before {
        top: 60%;
        transition: 0.3s ease-out;
        transform: rotate(-30deg) translateY(-50%);
      }
      &::after {
        top: 60%;
        transition: 0.2s ease-out;
        transform: rotate(30deg) translateY(-50%);
      }
      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
      }
    }
  }
  @media screen and (max-width: 610px) {
    &:focus-within + .close-mobile-menu,
    &:focus + .close-mobile-menu {
      display: inline-block;
    }
    &:focus-within + ul li.list-item,
    &:focus + ul li.list-item {
      display: inline;
    }
  }
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 1156px) {
    text-decoration: none;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    padding: 5rem;
    border-radius: 3px;
    top: 136%;
    right: -28px;
    background-color: #444;
    box-shadow: 0 0 10px #222;
    display: none;
  }

  @media screen and (max-width: 610px) {
    background: rgba(#111, 0.9);
    text-decoration: none;
    display: none;
    width: 100vw;
    height: 100vh;
    right: -25px;
    top: -70%;
    transition: 0.3s ease-out;
     a {
      background: none;
      font-size: 8vw;
    }

    &:focus,
    &:focus-within {
      &::before {
        top: 50%;
        transition: 0.3s ease-out;
        transform: rotate(-30deg) translateY(-50%);
      }
      &::after {
        top: 50%;
        transition: 0.2s ease-out;
        transform: rotate(30deg) translateY(-50%);
      }
  }

  li {
    justify-content: center;
    display: flex;
    text-decoration: none;
    padding-bottom: 1rem;

    &:focus,
    &:focus-within {
display: inline-block;
    }
  }
  li:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
  }
}

nav li a {
  font-family: Arial;
  font-size: larger;
  text-decoration: none;
  float: left;
  padding: 10px;
  background-color: #333333;
  color: #ffffff;

  border-bottom-color: #000000;
  border-bottom-style: solid;

  @media screen and (max-width: 610px) {
    margin: 2vh 0;
    font-size: 10vw;
  }
}

// nav ul li {
// list-style-type: none;
// text-align: center;
// display: inline-block;
// transition: 0.7s all;
// padding-left: 1rem;
// width: 15rem;
// font-size: medium;
//   @media screen and (max-width: 1156px) {
//     margin:0;
//     a {
//       display: block;
//       text-align: center;
//       min-width: 125px;
//     }

//     &.active a {
//       background-color: #333;
//       border-width: 1px;
//     }
//     width: 40px;
//     height: 25px;
//     border-radius: 3px;
//     background-color: grey;
//     z-index: 20;
//     padding-right: 15rem;
//     background-color: #333;
//   }
// }
// nav ul li a {
//   text-decoration: none;
//   color: #fff;
// }
}